
.Body {
    margin: 0;
    font-family: Pokemon;
    min-height: 100vh;
    display: grid;
    place-content: center;
    text-align: center;
    /* background: whitesmoke; */
   background-image: url("https://www.wallpaperuse.com/wallp/3-33373_m.jpg");
   background-repeat:no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
}

.H1 {
    font-size: 3rem;
    position: relative;
    font-family: Pokemon;
    font-size: 70px;
    color: rgb(255, 208, 0);
    -webkit-text-stroke: 2px rgb(2, 8, 34);
    letter-spacing: 10px;
    position: relative;
    width: max-content;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 1s ease 1s forwards;
}

.H1::before,
.H1::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.Titulo{
    padding-right: 600px;
}
.container{
    padding-right: 600px;
    padding-bottom: 150px;
}


@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


.Boton {
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: bold;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    transform: translateY(3rem);
    animation: fadeInUp 1s ease 1.5s forwards;
     opacity: 0;
}

.Boton:hover {
    background-color: #f3f706a1;
    box-shadow: 0px 15px 20px rgba(85, 90, 54, 0.582);
    color: rgb(0, 0, 0);
    transform: translateY(-7px);
}
@font-face {
    font-family: Pokemon;
    src: url("./Pokemon.ttf");
}
